

.hero-image {
  width: 300px;
  height: 300px;
}

.nav {
  font-size: 24px;
}

.nav__item {
  list-style-type: none;
}

.nav__link {
  text-decoration: none;
}

.first {
  color: red;
}

.underlined {
  text-decoration: underline;
}

.second {
  color: green
}

.third {
  color: blue
}